@using Snippets.Models;
@model Snippet

<article class="snippet">
    <header><h1>@Model.Title</h1></header>

    <div class="metadata">
        <ul class="tags">
        @foreach (Tag tag in Model.Tags)
        {
            <li class="tag">@tag.Label</li>
        }
        </ul>
    </div>


    <p class="description">@Model.Description</p>

    <pre class="prettyprint linenums">@Model.Body</pre>

    @if (Roles.IsUserInRole("Admin"))
    {
        <span>Visibility:</span> @Model.Visibility.Label
    }
</article>
