@using Snippets.Models;
@model Snippet

<article>
    <header><h1>@Model.Title</h1></header>

    <p>@Model.Description</p>

    <pre class="prettyprint linenums">@Model.Body</pre>

    <footer>
        @foreach (Tag tag in Model.Tags)
        {
            <span>@tag.Label</span>
        }
    </footer>
    @if (Roles.IsUserInRole("Admin"))
    {
        <span>Visibility:</span> @Model.Visibility.Label
    }
</article>
