@model Snippets.Areas.Admin.Models.ViewModels.CreateUser

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>UserProfile</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.registerModel.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.registerModel.UserName)
            @Html.ValidationMessageFor(model => model.registerModel.UserName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.registerModel.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.registerModel.Password)
            @Html.ValidationMessageFor(model => model.registerModel.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.registerModel.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.registerModel.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.registerModel.ConfirmPassword)
        </div>

        <div>
        @foreach(string role in Model.roles)
        {
            <input type="checkbox" name="roles" value="@role" />
            @role
        }
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
