@model Snippets.Models.Snippet
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Snippet</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Visibility.Label)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Visibility.Label)
    </div>
</fieldset>

<h2>Tags</h2>
<ul>
@foreach (Snippets.Models.Tag tag in Model.Tags)
{

    <li>@tag.Label</li>
    
}
</ul>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>