<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
        @Styles.Render("~/Content/normalize.css")
        @Styles.Render("~/Content/base.css")
        @Styles.Render("~/Content/prettify/prettify.css")
    </head>
    <body>
        <div class="container">

            <header class="cf">
                <section class="login float-right">
                    @Html.Partial("Partials/_LoginPartial")
                </section>
            </header>

            <section class="cf">
                @RenderBody()
            </section>
        
        </div> <!-- End Container -->

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
